header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

@media all and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    font-size: 0 48px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }
}
